h1{
    margin: 0px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
nav{
    background-color: rgb(157, 179, 189);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fondo{
    background-color: rgb(103, 142, 168);
}
body{
    margin: 0px;
}
.espacio{
    padding: 5%;
}
.center{
    text-align: center;
}